@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

body {
    font-family: 'Merienda One', 'Brush Script MT', cursive;
    margin: 0;
    background-color: whitesmoke;
}